* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #000;
}

main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 1rem;
}
